html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  background-color: #05011f;
  height: 100vh;
  padding: 20px;
  overflow: hidden; 
  user-select: none;
  position: relative;
}

.top-bar {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  gap: 20px;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.top-bar-item:focus {
  outline: none;
}

.top-bar-icon {
  width: 20px;
  height: 20px;
}

.top-bar-text {
  font-size: 14px;
}

.main-content {
  text-align: left;
  padding: 20px;
}

.welcome-message {
  color: #5BFAD4;
  font-size: 32px;
  margin-top: 50px;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}

.main-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-image {
  margin-top: 20px;
  position: relative;
}

.main-image img {
  width: 200px;
  height: auto;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.learn-more-button,
.run-scanning-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.learn-more-button {
  background-color: #00bfa6;
  color: white;
}

.run-scanning-button {
  background-color: #007bff;
  color: white;
}
