html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  background: linear-gradient(90deg, hsla(168, 47%, 60%, 0.5) 0%, hsla(216, 55%, 13%, 1) 17%, hsla(248, 94%, 6%, 1) 93%);
  background: -moz-linear-gradient(90deg, hsla(168, 47%, 60%, 0.5) 0%, hsla(216, 55%, 13%, 1) 17%, hsla(248, 94%, 6%, 1) 93%);
  background: -webkit-linear-gradient(90deg, hsla(168, 47%, 60%, 0.5) 0%, hsla(216, 55%, 13%, 1) 17%, hsla(248, 94%, 6%, 1) 93%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#43B8A0", endColorstr="#0F1E34", GradientType=1);
  height: 100vh;
  padding: 20px;
  overflow: hidden; 
  user-select: none;
  position: relative;
}

.top-bar {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  gap: 20px;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.top-bar-item:focus {
  outline: none;
}

.top-bar-icon {
  width: 20px;
  height: 20px;
}

.top-bar-text {
  font-size: 14px;
}

.main-content {
  text-align: left;
  padding: 20px;
}

.welcome-message {
  color: #5BFAD4;
  font-size: 32px;
  margin-top: 35px;
}

.description {
  font-size: 16px;
  margin: 10px 0;
}

.main-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-image {
  margin-top: 20px;
  position: relative;
}

.main-image img {
  width: 250px;
  height: auto;
}

.main-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 100px;
  right: 30px;
  gap: 10px;
}

.learn-more-button {
  border: 2px solid #02C294;
  color: #02C294;
  background-color: transparent;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

.run-scanning-button {
  background-color: #02C294;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0; 
  cursor: pointer;
  font-size: 14px;
}

.run-scanning-button:hover {
  background-color: #028d70; 
}

