.optimizer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #fff;
  text-align: center;
  position: relative;
}

.top-bar {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  gap: 20px;
  z-index: 10;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.top-bar-item:focus {
  outline: none;
}

.top-bar-icon {
  width: 20px;
  height: 20px;
}

.top-bar-text {
  font-size: 14px;
}

p {
  color: #a9fbd7;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 80%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
}

.step::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100px;
  height: 2px;
  background: #02C294;
}

.step:last-child::before {
  display: none;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #02C294;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e2f;
  margin-bottom: 10px;
}

.step-circle.completed {
  background-color: #02C294;
}

.step-description {
  text-align: center;
}

.step-description h3 {
  margin: 0;
  font-size: 14px;
  color: #a9fbd7;
}

.step-description p {
  margin: 2px 0;
  font-size: 12px;
  color: #a9fbd7;
}

.status.completed {
  color: #02C294;
}

.status.in-progress {
  color: #FFD700;
}

.optimize-button {
  background-color: #02C294;
  border: none;
  color: #fff;
  padding: 12px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-size: 18px;
}

.optimize-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.optimize-button:hover:not(.disabled) {
  background-color: #02967f;
}
