body {
  background-color: #05011f;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.optimizer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #fff;
  text-align: center;
  position: relative;
}

.optimizer-container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.top-bar {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  gap: 20px;
  z-index: 10;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.top-bar-item:focus {
  outline: none;
}

.top-bar-icon {
  width: 20px;
  height: 20px;
}

.top-bar-text {
  font-size: 14px;
}

p {
  color: #a9fbd7;
}

.steps-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  width: 80%;
  gap: 40px;
}

.step {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 150px;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #02C294;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e2f;
  margin-bottom: 10px;
}

.step-circle.completed {
  background-color: #02C294;
}

.step-circle.in-progress {
  animation: radiate 1.5s infinite;
}

@keyframes radiate {
  0% {
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700;
  }
  100% {
    box-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700, 0 0 40px #FFD700, 0 0 50px #FFD700;
  }
}

.step-description {
  text-align: center;
}

.step-description h3 {
  margin: 0;
  font-size: 14px;
  color: #a9fbd7;
}

.step-description p {
  margin: 2px 0;
  font-size: 12px;
  color: #a9fbd7;
}

.status.completed {
  color: #02C294;
}

.status.in-progress {
  color: #FFD700;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.optimize-button {
  margin-top: 5%;
  background-color: #02C294;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 14px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.optimize-button:hover {
  background-color: #029f85;
  transform: scale(1.05);
}

.optimize-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.optimize-button:hover:not(.disabled) {
  background-color: #02967f;
}


.tick-icon {
  margin-top: 10%;
  width: 150px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-buttons-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}