.sidebar {
  background-color: #05011f;
  color: white;
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-right: 1px solid #43b8a0;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-logo {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 75px;
  height: 90px;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #43b8a0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 18px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.15s, color 0.15s;
}

.sidebar-item .icon {
  margin-right: 10px;
  font-size: 20px;
  color: white;
  width: 24px;
  text-align: center;
  display: inline-block;
}

.sidebar-item span {
  display: inline-block;
  vertical-align: middle;
  flex: 1;
}

.sidebar-item:hover {
  background-color: #0a192f;
}

.sidebar-item.selected {
  background-color: black;
  color: #5BFAD4;
}

.sidebar-item.selected .icon {
  color: #5BFAD4;
}
